{
    "AccessKey": "syMHnod92WmgKAy2_IQ_F5GU8eIgNOUo88u1cn83",  // https://portal.qiniu.com/user/key
    "SecretKey": "IAz20o14p1RlIt2-8TCBiLUGqzQd4Z9_LpIHlizT",
    "Bucket": "yangbo",
    "Port": 9000,
    "UptokenUrl": "uptoken",
    "Domain": "pe4grbvsy.bkt.clouddn.com" // bucket domain eg:http://qiniu-plupload.qiniudn.com/
}
