<div class="navigator">
    <div class="logo">logo</div>
    <div class="navi_bar">
        <ul>
            <li class="navi_bar_item"><a href="http://yb.com/index/index/infolist.html?cid=school">学校</a></li>
            <li class="navi_bar_item"><a href="http://yb.com/index/index/infolist.html?cid=student">学生</a></li>
            <li class="navi_bar_item"><a href="http://yb.com/index/index/infolist.html?cid=gg">公告</a></li>
            <li class="navi_bar_item"><a href="http://yb.com/index/index/infolist.html?cid=zsxx">招生</a></li>
            <li class="navi_bar_item"><a href="http://yb.com/index/index/infolist.html?cid=mtzx">媒体中心</a></li>
            <li class="navi_bar_item"><a href="">家校互动</a></li>
            <li class="navi_bar_item"><a href="">投票中心</a></li>
            <li class="navi_bar_item"><a href="">校友之家</a></li>
        </ul>
    </div>
    <div class="login">登陆</div>
</div>