<!-- <html> -->
<head>
    <meta charset="utf-8" />
    <title>HomePage</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/script.js"></script>
</head>
<style>
    .smallimg{
        width:30rem;
        height:30rem;
    }
</style>
<body>
<div class="wrap">
    <div class="navigator">
        <div class="logo">logo</div>
        <div class="navi_bar">
            <ul>
                <li class="navi_bar_item"><a href="http://yb.com/index/index/infolist.html?cid=school">学校</a></li>
                <li class="navi_bar_item"><a href="http://yb.com/index/index/infolist.html?cid=student">学生</a></li>
                <li class="navi_bar_item"><a href="http://yb.com/index/index/infolist.html?cid=gg">公告</a></li>
                <li class="navi_bar_item"><a href="http://yb.com/index/index/infolist.html?cid=zsxx">招生</a></li>
                <li class="navi_bar_item"><a href="http://yb.com/index/index/infolist.html?cid=mtzx">媒体中心</a></li>
                <li class="navi_bar_item"><a href="">家校互动</a></li>
                <li class="navi_bar_item"><a href="">投票中心</a></li>
                <li class="navi_bar_item"><a href="">校友之家</a></li>
            </ul>
        </div>
        <div class="login">登陆</div>
    </div>
    <div class="slider">
        <ul class="flash_slides">
            {foreach name="$bannerList" item="vv"}
            <li><a href="" target="_blank"><img class="slider_img" src="/assets/images/flash1.jpg" alt=""></a></li>
            {/foreach}
        </ul>
    </div>
    <div class="menu1">
        <ul>
            <li class="menu1_item"><a href="">校史</a></li>
            <li class="menu1_item"><a href="">教师</a></li>
            <li class="menu1_item"><a href="">工会</a></li>
            <li class="menu1_item"><a href="">党团</a></li>
            <li class="menu1_item"><a href="">教学</a></li>
        </ul>
    </div>
    <div class="intro_head">"</div>
    <div class="intro">上海市民办扬波外国语小学成立于1992年夏，是一所全日制民办小学，<br>是上海市首批民办学校之一，是上海市民办中小学依法办学评估优秀校，<br>是上海市十二所外语类及外语特色类学校教学联盟的成员之一。</div>
    <div class="intro_tail">"</div>
    <div class="school_content">
        <ul class="school_slides">
            <li><div class="school_slides_block"><a href="" target="_blank"><img class="slider_img smallimg" src="/assets/images/flash1.jpg" alt=""><div class="school_text_block"><p>上海市民办扬波外国语小学建校二十周年庆典</p></div></a></div></li>
            <li><div class="school_slides_block"><a href="" target="_blank"><img class="slider_img smallimg" src="/assets/images/flash2.jpg" alt=""><div class="school_text_block"><p>content</p></div></a></div></li>
            <li><div class="school_slides_block"><a href="" target="_blank"><img class="slider_img smallimg" src="/assets/images/flash3.jpg" alt=""><div class="school_text_block"><p>content</p></div></a></div></li>
            <li><div class="school_slides_block"><a href="" target="_blank"><img class="slider_img smallimg" src="/assets/images/flash1.jpg" alt=""><div class="school_text_block"><p>content</p></div></a></div></li>
            <li><div class="school_slides_block"><a href="" target="_blank"><img class="slider_img smallimg" src="/assets/images/flash2.jpg" alt=""><div class="school_text_block"><p>content</p></div></a></div></li>
            <li><div class="school_slides_block"><a href="" target="_blank"><img class="slider_img smallimg" src="/assets/images/flash3.jpg" alt=""><div class="school_text_block"><p>content</p></div></a></div></li>
        </ul>
    </div>
    <button class="school_content_more">查看更多</button>
    <div class="menu2">
        <ul>
            <li class="menu2_item"><a href="">学生活动</a></li>
            <li class="menu2_item"><a href="">学生风采</a></li>
            <li class="menu2_item"><a href="">团队信息</a></li>
            <li class="menu2_item"><a href="">学生作品</a></li>
        </ul>
    </div>
    <div class="student_content">
        {foreach name="$xshdList" item="vv"}
        <div class="student_content_card" id="card0{$key+1}">
            <a href="/article/{$vv.sn}.html" target="_blank">
            <div class="card_content">
                <img src="{$vv.cover_img}">
                <label class="card_content_title">{$vv.title}</label>
                <span class="card_content_abstract">小蜜蜂书法小蜜蜂书法小蜜蜂书法小蜜蜂书法小蜜蜂书法小蜜蜂书法小蜜蜂书法</span>
            </div></a>
        </div>
        {/foreach}

    </div>
    <button class="student_content_more">查看更多</button>
    <div class="announce_content">
        <div class="announce_content_wrap">
            <div class="announce_content_left_head">
                <label id="announce_content_left_head_title">公告</label>
                <label id="announce_content_left_head_english">announcement</label>
            </div>
            <ul class="announce_list">
                {foreach name="$ggList" item="vv"}
                <li class="announce_list_item"><span>{$vv.title}</span></li>
               {/foreach}
            </ul>
            <label class="announce_list_more">查看更多</label>
            <div class="announce_card_area">
                <div class="announce_card_wrap">
                    {foreach name="zpxxList" item="vv"}
                    <div class="announce_card" id="cardA0{$key+1}">
                        <div class="announce_card_content">
                            <img src="{$vv.cover_img}">
                            <label class="announce_card_title">{$vv.title}</label>
                            <span class="announce_card_abstract">{$vv.body}</span>
                        </div>
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
    <div class="enrolment_content">
        <div class="enrolment_content_wrap">
            <img src="/assets/images/enrolment.jpg">
            <label class="enrolment_content_title">招生报名</label>
            <label class="enrolment_content_english">Enrolment</label>
            <div class="enrolment_content_area">
                <ul class="enrolment_content_list">
                    {foreach name="zsxxList" item="vv"}
                    <li class="enrolment_content_list_item">
                        <div class="enrolment_content_list_item_content">
                            <label>招生信息</label>
                            <span>{$vv.body}</span>
                        </div>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
    <label class="media_center_title">媒体中心</label>
    <label class="media_center_english">Media Center</label>
    <div class="media_content">
        <ul class="media_slide">
            <li>
                <div class="media_slide_card" >
                    <div class="media_slide_card_image"><img src="/assets/images/media1.jpg"></div>
                    <label class="media_slide_card_title">走进秋色，感受海派文化——2016年工会秋游活动</label>
                    <span class="media_slide_card_desc">11月4日下午，工会组织全体教工游览上海海派文化荟萃之地----衡山坊。在花园住宅和新式里弄中，老师们领略了老上海文化...</span>
                    <img class="media_play_button" src="/assets/images/icon_play.png" style="display: none;">
                </div>
            </li>
            <li>
                <div class="media_slide_card" >
                    <div class="media_slide_card_image"><img src="/assets/images/media1.jpg"></div>
                    <label class="media_slide_card_title">走进秋色，感受海派文化——2016年工会秋游活动</label>
                    <span class="media_slide_card_desc">11月4日下午，工会组织全体教工游览上海海派文化荟萃之地----衡山坊。在花园住宅和新式里弄中，老师们领略了老上海文化...</span>
                    <img class="media_play_button" src="/assets/images/icon_play.png" style="display: none;">
                </div>
            </li>
            <li>
                <div class="media_slide_card" >
                    <div class="media_slide_card_image"><img src="/assets/images/media1.jpg"></div>
                    <label class="media_slide_card_title">走进秋色，感受海派文化——2016年工会秋游活动</label>
                    <span class="media_slide_card_desc">11月4日下午，工会组织全体教工游览上海海派文化荟萃之地----衡山坊。在花园住宅和新式里弄中，老师们领略了老上海文化...</span>
                    <img class="media_play_button" src="/assets/images/icon_play.png" style="display: none;">
                </div>
            </li>
            <li>
                <div class="media_slide_card" >
                    <div class="media_slide_card_image"><img src="images/media1.jpg"></div>
                    <label class="media_slide_card_title">走进秋色，感受海派文化——2016年工会秋游活动</label>
                    <span class="media_slide_card_desc">11月4日下午，工会组织全体教工游览上海海派文化荟萃之地----衡山坊。在花园住宅和新式里弄中，老师们领略了老上海文化...</span>
                    <img class="media_play_button" src="/assets/images/icon_play.png" style="display: none;">
                </div>
            </li>
        </ul>
    </div>
    <button class="media_content_more">查看更多</button>
    <label class="home_title">校友之家</label>
    <label class="home_english">Alumni Home</label>
    <div class="home_content">
        <div class="home_content_wrap">
            <div class="home_card" id="cardB01">
                <div class="home_card_content">
                    <div class="home_card_content_image"><img src="/assets/images/home1.jpg"></div>
                </div>
                <label class="home_card_content_title">我和孩子的快乐旅程</label>
                <span class="home_card_content_abstract">我校开展了本学期的家长学校活动，共160位家长参与了本次活动</span>
                <label class="home_card_content_date">2018-8-25</label>
            </div>
            <div class="home_card" id="cardB02">
                <div class="home_card_content">
                    <div class="home_card_content_image"><img src="/assets/images/home1.jpg"></div>
                </div>
                <label class="home_card_content_title">我和孩子的快乐旅程</label>
                <span class="home_card_content_abstract">我校开展了本学期的家长学校活动，共160位家长参与了本次活动</span>
                <label class="home_card_content_date">2018-8-25</label>
            </div>
            <div class="home_card" id="cardB03">
                <div class="home_card_content">
                    <div class="home_card_content_image"><img src="/assets/images/home1.jpg"></div>
                </div>
                <label class="home_card_content_title">我和孩子的快乐旅程</label>
                <span class="home_card_content_abstract">我校开展了本学期的家长学校活动，共160位家长参与了本次活动</span>
                <label class="home_card_content_date">2018-8-25</label>
            </div>
            <div class="home_card" id="cardB04">
                <div class="home_card_content">
                    <div class="home_card_content_image"><img src="/assets/images/home1.jpg"></div>
                </div>
                <label class="home_card_content_title">我和孩子的快乐旅程</label>
                <span class="home_card_content_abstract">我校开展了本学期的家长学校活动，共160位家长参与了本次活动</span>
                <label class="home_card_content_date">2018-8-25</label>
            </div>
            <div class="home_card" id="cardB05">
                <div class="home_card_content">
                    <div class="home_card_content_image"><img src="/assets/images/home1.jpg"></div>
                </div>
                <label class="home_card_content_title">我和孩子的快乐旅程</label>
                <span class="home_card_content_abstract">我校开展了本学期的家长学校活动，共160位家长参与了本次活动</span>
                <label class="home_card_content_date">2018-8-25</label>
            </div>
            <div class="home_card" id="cardB06">
                <div class="home_card_content">
                    <div class="home_card_content_image"><img src="/assets/images/home1.jpg"></div>
                </div>
                <label class="home_card_content_title">我和孩子的快乐旅程</label>
                <span class="home_card_content_abstract">我校开展了本学期的家长学校活动，共160位家长参与了本次活动</span>
                <label class="home_card_content_date">2018-8-25</label>
            </div>
            <div class="home_card" id="cardB07">
                <div class="home_card_content">
                    <div class="home_card_content_image"><img src="/assets/images/home1.jpg"></div>
                </div>
                <label class="home_card_content_title">我和孩子的快乐旅程</label>
                <span class="home_card_content_abstract">我校开展了本学期的家长学校活动，共160位家长参与了本次活动</span>
                <label class="home_card_content_date">2018-8-25</label>
            </div>
            <div class="home_card" id="cardB08">
                <div class="home_card_content">
                    <div class="home_card_content_image"><img src="/assets/images/home1.jpg"></div>
                </div>
                <label class="home_card_content_title">我和孩子的快乐旅程</label>
                <span class="home_card_content_abstract">我校开展了本学期的家长学校活动，共160位家长参与了本次活动</span>
                <label class="home_card_content_date">2018-8-25</label>
            </div>
        </div>
    </div>
    <button class="home_content_more">查看更多</button>
    <div class="site_map_content">
        <img class="site_map_image" src="/assets/images/bg.png">
        <label class="site_map_announce_title">公告栏</label>
        <ul class="site_map_announce_list">
            {foreach name="ggList" item="vv" limit=5}
            <li>{$vv.createtime}    {$vv.title}</li>
            {/foreach}
        </ul>
        <label class="site_map_link_title">网站地图</label>
        <ul class="site_map_link_list">
            <li><span>[学校]</span><span><a href="#">校史</a></span><span><a href="#">教师</a></span><span><a href="#">工会</a></span><span><a href="#">党团</a></span><span><a href="#">教学</a></span></li>
            <li><span>[学生]</span><span><a href="#">学生活动</a></span><span><a href="#">学生活动</a></span><span><a href="#">团队信息</a></span><span><a href="#">学生作品</a></span></li>
            <li><span>[通知]</span><span><a href="#">公告</a></span><span><a href="#">招生</a></span></li>
            <li><span>[功能]</span><span><a href="#">媒体中心</a></span><span><a href="#">家校互动</a></span><span><a href="#">投票中心</a></span><span><a href="#">校友之家</a></span></li>
        </ul>
        <label class="site_map_contact_title">联系方式</label>
        <ul class="site_map_contact_list">
            <li>地址：上海市延长中路800弄88号</li>
            <li>邮编：200072</li>
            <li>邮箱：yangboschool@163.com</li>
            <li>电话：021-56088086</li>
        </ul>
        <img class="qrcode" src="/assets/images/qrcode.png" alt="二维码">
    </div>
</div>
<div class="foot">
    <label class="foot_text">上海市民办扬波外国语小学  All Rights Reserved Copyright.   沪公网安备 31010602002255号</label>
</div>
</body>
<foot>
    <script>

    </script>
</foot>
</html>